doctype html
html(lang="en")
	head
		title!= title
	body
	h1!= message
	p List fo all UX APIs below
	ul
		li
			a(href="/api/example") Example Remote read JSON file
		li
			a(href="/api/test") Test local read JSON file
